
{% extends 'base.html' %}
{% block titulo %}
	Inicio
{% endblock %}

{% block contenido %}
	<div class="row container">
    <div class="col s12 m7">
    	<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7uKG1L3x3KFNo9ndg3nUyBz7AohaaU5ckmSjrVYJxSa_HEoGF" width="350px">
          <p> Henri Desgrange<br>
			“¿No es mejor el triunfo por la fuerza de tus músculos que por el artificio de un desviador? Estamos poniéndonos blandos”. Henri Desgrange, ciclista, periodista; fundador y director del Tour de Francia entre 1903 y 1939.</p>

			<p>Kristin Armstrong<br>
			 “Abraza tu sudor. Es tu esencia y tu emancipación”. Kristin Armstrong, la ciclista femenina más galardonada en los Estados Unidos de América, habiendo ganado medallas de oro en la prueba contrarreloj en cada una de las tres últimas Olimpiadas.</p>

			<p>Greg LeMond<br>
			“Nunca es más fácil, simplemente te vuelves más rápido”.  Greg LeMond, estadounidense ex ciclista profesional de ruta, dos veces campeón mundial de ruta (1983 y 1989) y tres veces ganador del Tour de Francia (1986, 1989 y 1990).</p>
      </div>
    </div>
  </div>
{% endblock %}