{%extends 'base.html'%}

{% block titulo%}
	lista corredores
{%endblock%}

{%block contenido%}
	<div class="container">
		<h1>lista de corredores</h1>
		<table border="1" class="highlight ">
			<tr>
				<th>ID</th>
				<th><strong>NOMBRE</strong></th>
				
			</tr>
			{%for c in lista%}

				<tr>

					<td>{{c.id}}</td>
					<td>{{c.nombre}}</td>
					<td><a href="{% url 'vista_ver_corredor' id_cor=c.id %}">ver detalle</a></td>
					<td><a href="{% url 'vista_editar_corredor' id_cor=c.id %}">Editar</a></td>
					<td><a href="{% url 'vista_eliminar_corredor' id_cor=c.id %}">eliminar</a></td>

				</tr>
				
			{%endfor%}

		</table>
		<a class="btn-floating " href="{% url 'vista_agregar_corredor' %}"><i class="material-icons">add</i>agregar corredor</a>
	</div>
	
{%endblock%}
